
   <div class="bg-white text-main w-9/12 p-3 my-8 mx-auto rounded-2xl text-xl">
 <h2 class="text-center text-main text-sm font-medium">{{'Welcome to DriveBox'|translate}}</h2>
    <h1 class="text-center text-4xl font-bold mt-1 mb-6">{{'Log in'|translate}}</h1>

    <form [formGroup]="LoginForm" (ngSubmit)="login()" class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-main mb-1" for="email">{{'Email'|translate}}</label>
        <input type="email" id="email" formControlName="email" [placeholder]="'Email'|translate"
               class="w-full px-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-main"/>
      </div>

      <div>
        <label class="block text-sm font-medium text-main mb-1" for="password">{{'Password'|translate}}</label>
        <div class="relative">
          <input type="password" id="password" formControlName="password" [placeholder]="'Password'|translate"
                 class="w-full px-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-main"/>
          <span id="togglePassword" (click)="passwordVisible()" class="absolute right-4 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer">
           <i id="iconShow" class="fa-solid fa-eye block"></i>
          <i id="iconHide" class="fa-solid fa-eye-slash hidden"></i>          </span>
        </div>
      </div>

      <div class="flex justify-between text-sm mt-1">
        <span class="text-gray-500">{{'No Account?'|translate}} <a (click)="signUp()" class="text-secondary hover:text-main font-semibold">{{'Sign up'|translate}}</a></span>
        <a href="#" class="text-secondary hover:text-main font-semibold">{{'Forgot Password?'|translate}}</a>
      </div>

      <button type="submit"
              class="w-full bg-main hover:bg-secondary text-white font-semibold py-2 rounded-full shadow-md transition duration-200">
        {{'Log in'|translate}}
      </button>
    </form>

    <div class="flex items-center justify-center my-4 text-gray-500">
      <span class="text-sm font-medium">{{'OR'|translate}}</span>
    </div>

    <button class="w-full flex items-center justify-center gap-2 bg-third text-main font-medium py-2 rounded-full border border-main hover:bg-secondary hover:text-white transition">
      <span class="text-xl">🛡️</span>
      Use single sign-on (SSO)
    </button>
                </div>
