<div class=" w-full h-full gap-12 bg-white items-center flex flex-col py-5">
  <img class="w-10/12" src="../../../assets/Images/logo-3.png" alt="logo" />
  
  <i routerLink="/home" class="text-main fa-solid fa-house fa-lg cursor-pointer"></i>
  <i class="text-main fa-solid fa-globe fa-lg cursor-pointer"></i>
  <i class="text-main fa-solid fa-user fa-lg cursor-pointer"></i>
  <i class="text-main fa-solid fa-trash fa-lg cursor-pointer"></i>
  
  <div class="mt-auto flex flex-col items-center gap-10 my-10">
    <i class="text-main fa-solid fa-gear fa-lg cursor-pointer"></i>
    <i (click)="logOut()" class="text-main fa-solid fa-right-from-bracket fa-lg cursor-pointer"></i>
  </div>
</div>
