@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

@font-face {
  font-family: lato;
  src: url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
}
@font-face {
  font-family: Tajawal;
  src: url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
}
body {
  font-family: lato;
  direction: ltr;
  text-align: left;
}
body[dir="rtl"] {
  font-family: Tajawal;
  direction: rtl;
  text-align: right;
}
body
{
  background-color: #CECECE;
}
.font-main {
  font-family: lato;
}
::ng-deep .p-fileupload {
  border: 1px solid red;
}
body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #1d4ed8;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
